<template>
    <div>
        <h2>DodajIzlet</h2>
        <div>
            <form>
                <label for="fname">Naziv</label>
                <input type="text" id="fname" name="firstname" placeholder="Naziv" v-model="naziv">

                <label>Lokacija</label>
                <input type="text" name="lastname" placeholder="Lokacija" v-model="lokacija">

                <label >Opis</label>
                <input type="text" name="lastname" placeholder="Opis" v-model="opis">

                <label >Od</label>
                <datepicker v-model="datumOdhoda" ></datepicker>

                <label >Do</label>
                <datepicker v-model="datumPrihoda" ></datepicker>

                <label >Cena</label>
                <input type="text" name="lastname" placeholder="Cena" v-model="cena">


                <button @click="save()">OK</button>
            </form>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    export default {
        components: {
            Datepicker
        },
        name: 'Form',

        data: () => ({
            naziv: '',
            lokacija: '',
            opis: '',
            datumOdhoda: null,
            datumPrihoda: null,
            cena: ''
        }),
        methods: {
            save() {
                this.$store.dispatch("createIzlet",{"naziv": this.naziv, "lokacija": this.lokacija,
                    "opis":this.opis, "datumOdhoda":this.datumOdhoda, "datumPrihoda":this.datumPrihoda,
                    "cena":this.cena});
            }
        }
    }
</script>
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
