<template>
  <div>
    <h2>Izleti</h2>
    <div v-for="izlet in izleti" v-bind:key="izlet.id" style="margin: 10px; background: lightgrey; height: fit-content">
      <p>{{izlet.naziv}}</p>
      <p>{{izlet.lokacija}}</p>
      <p>{{izlet.opis}}</p>
      <p>{{izlet.datumOdhoda}}</p>
      <p>{{izlet.datumPrihoda}}</p>
      <p>cena: {{izlet.cena}}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
    }),

    mounted() {
      this.$store.dispatch('getIzleti')
    },

   computed: {
      izleti () {
        return this.$store.state.izleti
      }
    }
  }
</script>
